*{
    padding:0;
    margin:2px 2px;
    /* margin: 0; */
    /* box-sizing: border-box; */
    font-family: sans-serif;
}

header{
    background-color: #4617FE;
    height: 50vh;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 30px ;
    padding: 10px 20px;
    gap:1rem;
    color: #ffffff;
}

.logo{
    height: 40px;
    width: 120px;
    margin: 0px 20px;
}

.nav-item-active{
    background-color: #ffffff;
    color: #7F31FD;
    margin-top: auto;
    padding: 8px 20px;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 10px;
}
.nav-item{
    margin-top:auto;
}

.nav-item-icon{
    padding: 10px 10px;
    display: flex;
}

.header-image{
    position: relative;
    right: -1005px;
    top: -200px;
    width: 500px;
    height: 400px;

}
.header-text img{
    margin: 50px 40px;
}
.header-text h2 {
    color: #ffffff;
    margin-top: -20px;
    margin-left: 40px;
}

.header-text p{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}
.companies{
    width: 600px;
    margin-left: 40px;
}
.company-items{
    padding: 20px 10px;
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    font-size: 10px;
}
.api{
    margin: 50px 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 30px;
    gap: 20px;
}

.card{
    height: auto;
    width: 300px;
    padding: 20px 20px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 36px 3px rgba(0,0,0,0.75); */
}

.card:hover{
    box-shadow: 0px 0px 29px -9px rgba(0,0,0,0.75);
    transition: 0.4s;
    cursor: pointer;
}

.blog-heading h1{
    color: #000000;
    margin-top: -20px;
    margin-left: 40px;
}

.blog-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 90px;
    margin:40px 40px;
    /* height:  */
}
.blog-image{
    height: 283px; 
    position: relative;
    left: -10px;

}
.blog-card-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 280px;
    width: 650px;
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    border-top-left-radius:60px 
}

.blog-card-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 280px;
    width: 650px;
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    border-top-left-radius:60px 
}

.blog-card-bottom-image{
    height: 30px;
    position: relative;
    top: -100px;
}

.blog-author{
   
    margin-top: -200px;
    font-size: 10px;
}

.blog-content{
    margin-left: 40px;
    height: 280px;
    width: 180px;
}
.blog-content h6{
    margin-top: 20px;
}

.blog-content h3{
    margin-top: 40px;
}

.faq-section{
    background-color: #E9EDFF;
    height: 220px;
}
.faq-content{
   margin: 15px 10px;
}
.faq-content h2{
    padding: 10px 20px;
}

.faq-content h4{
    padding: 5px 20px;
    font-size: 15px;
}
.faq-content button{
    padding: 5px 30px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    background-color: #5A31FC;
    color: #ffffff;
}
.faq-image{
    height: 220px;
    position: relative;
    top: -208px;
    left: 900px;
}
.download-section{
    height: 110px;
}
.download-content span{
    font-size: 25px;
}
.download-content{
    margin-left: 30px;
    margin-top: 60px;
}
.download-email {
    margin-left: 950px;
    margin-top: -30px;
    width: 400px;
    border: 1px solid black;
    text-align: center;
    background-color: #E9EDFF;
    border-radius: 20px;
}

.download-email input{
    background-color: #E9EDFF;
    border: none;
    height: 30px;
    width: 180px;
}

.download-email button{
    position:relative;
    right: -30px;
    background-color: #5A31FC;
    padding: 5px 40px;
    border-radius: 20px;
    color: #ffffff;
    border: 2px solid black;
    height: 30px;
}
.footer-section{
    background-color: #4617FE;
    height: 20vh;
}

.footer-left {
    display: flex;
    flex-direction: row;
    height: 70px;
}
.footer-right-logo{
    flex: 1;
    align-items: flex-end;
    margin-left: 1100px;
    margin-top: 50px;
    
}
.footer-logo{
    height: 30px;
    width: 90px;
    margin-top: 50px;
    margin-left: 40px;
}
.footer-logos{
    height: 28px;
    padding: 0px 10px;
}

.footer-right{
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    color: #ffffff;
    list-style-type: none;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: lighter;
}

.logos-list{
    display: flex;
    flex-direction: row;
    
}
.logos-list{
    flex: 1;
    align-items: flex-end;
    margin-left: 830px;
    margin-top: 25px;
    gap: 10px;
    color: #ffffff;
    list-style-type: none;
    font-size: 15px;
    margin-top: 30px;
    font-weight: lighter;
}
input:focus{
    outline: none;
}